<div class="ficha-container">
    <div class="field">
        <p class="label">Nombre</p>
        <p class="description">{{datos.nombre}}</p>
    </div>
    <div class="field">
        <p class="label">Edad</p>
        <p class="description">{{datos.edad}}</p>
    </div>
    <div class="field">
        <p class="label">Email</p>
        <p class="description">{{datos.email}}</p>
    </div>
    <div class="field">
        <p class="label">Curso</p>
        <p class="description">{{cursoAlumno.name}}</p>
    </div>
</div>
